.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #ffb03b;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #433f39;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #ffb03b;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown:hover > ul {
  left: -100%;
}

#landing {
  width: 100%;
  min-height: 100vh;
}
#about {
  min-height: 100vh;
}
* .box {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: aquamarine;
  transition: all ease-in-out 0.3s;
}
#menu {
  min-height: 100vh;
  background-color: violet;
}
.specials {
  overflow: hidden;
}
.specials .nav-tabs {
  border: 0;
}
.specials .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #433f39;
  border-radius: 0;
  border-right: 2px solid #e8e7e4;
  font-weight: 600;
  font-size: 15px;
}
.specials .nav-link:hover {
  color: #1bb87e7b;
}
.specials .nav-link.active {
  color: #1bb87e7b;
  border-color: #1bb87e7b;
}
.specials .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}
.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #433f39;
}
.specials .details p {
  color: #777777;
}
.specials .details p:last-child {
  margin-bottom: 0;
}
.specials .nav-link.active {
  color: #fff;
  background: #095f407b;
}

.events {
  background: url(../img/events-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}
/* .events::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.events .section-title h2 {
  color: #fff;
}
.events .container {
  position: relative;
}


.events .event-item {
  color: #fff;
}
.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #ffb03b;
}
.events .event-item .price {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.events .event-item .price span {
  border-bottom: 2px solid #ffb03b;
}
.events .event-item ul {
  list-style: none;
  padding: 0;
}
.events .event-item ul li {
  padding-bottom: 10px;
}
.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffb03b;
}
.events .event-item p:last-child {
  margin-bottom: 0;
} */

#events {
  min-height: 75vh;

  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(./images/events-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#book-a-table {
  min-height: 75vh;
}
#gallery {
  min-height: 100vh;
}
.gallery {
  padding-bottom: 0;
}
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}
